.someclass {
  background-color: #5890AD;
}

.tabs {
  list-style: none;
}

.tabs li {
  display: inline;
}

.tabs li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.tabs li a.selected,
.tabs li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.tabs li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}
